<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width = device-width, initia;-scale = 1">
    <title>Web</title>

    <!-- custom css link-->
    <link rel="stylesheet" type = "text/css" href="style.css">



    <!-- boxicons link-->
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- remixicons link-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!-- googlefonts link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
    <script src="script.js"></script>


</head>
<body>
<header>
    <a href="#" class="logo">SEECLOTHES</a>



<ul class="navlist">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Product</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">LogIn</a></li>

</ul>
<div class="bx bx-menu" id="menu-icon"></div> <!-- 삼선 메뉴아이콘 -->
</header>

<section class="hero">
    <div class="hero-text">
        <h5>#2 Trending</h5>
        <h4>Lead all closet</h4>
        <h1>Main
            CLOTHES</h1>
        <p>Super dry, ultra soft cotton</p>
        <a href="#"></a>
        <a href="#"></a>

    </div>
    <div class="hero-img">
        <img src="main_img.jpg"/>
    </div>
</section>
<!-- scrollreveal effect-->
<srcipt src="https://unpkg.com/scrollreveal"></srcipt>

<!-- custom js link link-->
<script src="script.js"></script>

</body>
</html>